################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/FRUITFOO_CSD1451_GAM150/CopilotIndices/17.14.1577.30250
/.vs/FRUITFOO_CSD1451_GAM150/FileContentIndex
/.vs
